HARVEST_ACCOUNT_ID=my-account-id
HARVEST_TOKEN=my-super-secret-token
JIRA_HOST=https://example.com/jira
HARVEST_API=https://api.harvestapp.com/v2
HARVEST_USER_AGENT=JiraToHarvestImport (<your_email_here>)
DAILY_HOUR_LIMIT=8.0